*{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe{margin:0;padding:0;border:0; word-wrap: break-word; -webkit-text-size-adjust:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:12px/1.5 tahoma,Microsoft Yahei;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
input,select,textarea{font-size:100%; vertical-align:middle; border:0;background:none;box-shadow:none; -moz-appearance:none; appearance:none; outline:none; -webkit-outline:none;-webkit-appearance:searchfield;-webkit-rtl-ordering:logical;-webkit-user-select:text;-webkit-appearance:none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
input:focus,textarea:focus{outline:none}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
img{border:0 none}
img, object {max-width: 100%;}
em,i,code,cite,address,th{font-style:normal;font-weight:500}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
q:before,q:after{ content:''}
abbr,acronym{ border:0}
a{text-decoration:none;-webkit-user-select:none;}
.none{ display:none;}
.hr_10{clear:both;height:10px;line-height:1px;font-size:1px}
.hr_5{clear:both;height:5px;line-height:1px;font-size:1px}
.hr_1{clear:both;height:1px;line-height:1px;font-size:0}
.wb{clear:both; border:none; height:1px; line-height:1px; background:#FFF; font-size:0; overflow:hidden}
a:link,a:visited,a:hover,a:active{color:#999;text-shadow:none}
.w320{ width:320px; margin:0 auto; clear:both; position:relative;}
.w360{ width:360px; margin:0 auto; clear:both; position:relative;}
.w480{ width:480px; margin:0 auto; clear:both; position:relative;}

body{ background-color: #eef4f4; overflow-x: hidden; }
.s-warp,.tab-list-con,.list-con-a,.list-ul-a{ width: 100%; height: 100%;}
.s-v-i{ display: none;}
.s-v-i img{ height: 100%;}
.s-v-bg{ background-size: cover !important; width: 100%; height: 100%;}
.s-v-ver{ background-position: 50% 0 !important;}
.s-i-d{ display: none;}
.i-u-txt{ text-overflow: ellipsis; white-space: nowrap;}
#top{ width: 100%; position: relative;-webkit-transition:height .3s;transition:height .3s;overflow: hidden; }
.play-btn,.play-video,.bar-txt,.iMayDown{position: absolute;transform：translateY(-50%);}
#top-bar{ height: 3.5rem; left: 0; display: block; position: fixed; background: rgba(2,0,19,.6); width: 100%; top: 0; z-index: 15;}
.s-v-i{ position: absolute; top: 0; left: 0; bottom: 0; z-index: 13; width: 100%; vertical-align: middle;text-align: center; height: 100%;}
.play-btn,.play-video,.bar-logo,.user-i01,.user-i02,.user-icon02,.tab-list-tit,.list-f-icon01{ background: url("../images/live_bg.png") no-repeat; display: block; background-size: 8rem auto;}
.play-btn,.play-video{ cursor: pointer; z-index: 5; width:5.5rem; height: 5.5rem;left: 50%; top: 50%;display: block;background-position: 0 0; margin: -2.25rem 0 0 -2.25rem; }
.bar-logo{ width: 3.0rem; height:  3.0rem; float: left; margin: .25rem 0 0 .6rem; background-position:0 -3.9rem; background-size: 5.5rem auto;}
.bar-txt{ float: left; line-height: 1.4rem; left: 3.8rem; -wbkit-transform:translateY(-50%); margin-top: .45em; color: #FFF;}
.bar-txt h1{ font-size: 1.1rem;}
.bar-txt h3{ font-size: .7rem;}
.iMayDown{ display: block; float: right; right: .75rem;  font-size:.9rem;top: .52rem; width:4.8rem;  -wbkit-transform:translateY(-50%); text-align: center; padding: 5px 0;}
.iMayDown,.iMayDown:active,.iMayDown:visited,.iMayDown:hover{ color: #FFF !important;}
.m-open{ width: 100%;}
.imei-shadow{ height: 100%; background: rgba(1, 0, 12, .9);  width: 100%; position: fixed; top: 0; right: 0; z-index: 10;}
.no-player-txt{ display: block; width: 100%; top: 46%; position: absolute; text-align: center; z-index: 4; height: 4.5rem; background: url("../images/mask.png") repeat; line-height: 4.5rem; z-index: 15;}
.finish-txt{ font-size: 1.2rem; color: #FFF; text-align: center; }
.finish-num{font-size: 1.6rem; line-height: 1.9rem; color: #FFF; text-align: center; }
#center{ background-color: #FFF; overflow: hidden; width: 100%; margin-bottom: .2rem; position: relative; z-index: 3;  transform: margin-top .3s ease;-wbkit-transform:margin-top .3s ease}
#center .imei-user{ width: 48px; height: 48px; max-height: 2.95rem; border-radius: 2.5rem; margin: .3rem .6rem; float: left;}
.imei-user{width: 48px; height: 48px; }
.cen-top{ margin: 1% 0;}
.cen-top:after{ content: ''; clear: both; display: block;}
#center:after{ content: ""; display: block; position: absolute; width: 100%; background-color: #EEF3F4; left: 0;bottom: -.15rem;}
.user-name{ max-width: 70%; color: #6542a5; font-size: 1rem; margin-left: .3rem; overflow: hidden; line-height: 1.1rem; float: left;}
.i-u-txt{  width: 54%; float: left; margin-top: .5rem; }
.user-i01{ width: .7rem; height: .8rem; float: left; margin: .19rem 0 0 .25rem; background-position: -5.8rem -1.25rem; }
.user-i02{width: .9rem; height: .8rem; float: left; margin: .1rem 0 0 .25rem; background-position: -5.58rem -1.25rem;}
.user-i02{width: .9rem; height: .8rem; float: left; margin: .1rem 0 0 .25rem; background-position: -5.58rem -1.25rem;}
.user-icon02{ width: 2rem; padding-left: .75rem; font-size: .7rem; height: 1.3rem; margin: .1rem 0 0 .2rem; color: #FFF; line-height: .9rem; text-align: center; display: block; float: left; background-position: -5.7rem -2.6rem;}
.imei-id{ color: #ccb1ff; font-size: .75rem; margin-left: .3rem;}
.imei-id b{ font-weight: normal;}
.cen-bot{ border-top: 1px solid #ededed; min-height: 2rem; width: 100%; color: #19191f; line-height: 2rem; clear: both;}
.cen-bot span{ display: block; margin-left: .8rem;}
.cen-bot span a,.cen-bot span a:active,.cen-bot span a:visited,.cen-bot span a:hover{ color: #507daf}
.u-txt-c{clear: both;}
.imei-l-btn{ width: 4rem; height: 1.4rem; line-height: 1.3rem; font-size: .6rem; border-radius: .3rem; text-align: center; border: 1px solid #6441a5;float: right; margin: 1rem 1rem 0 0;}
.imei-l-btn,.imei-l-btn:active,.imei-l-btn:visited,.imei-l-btn:hover{ color: #6441a5;}
#tab{ width: 100%;font-size: .9rem; letter-spacing: 1px; background-color: #FFF; position: relative; padding: .5rem 0;}
.tab-list-tit{color: #FFF; font-size: 1rem; background-position: 0 -10.1rem; height: 1.5rem; line-height: 1.4rem;}
<<<<<<< .mine
.tab-list-tit span{ display: block; margin-left: .4rem; font-size: .7rem;}
||||||| .r30593
.tab-list-tit span{ display: block; margin-left: .4rem;}
=======
.font-size: 1rem;  span{ display: block; margin-left: .4rem;font-size: 1rem; }
>>>>>>> .r30704
.tab-list-con{ background-color: #FFF;}
.m-play{ width: 20%; position: absolute; top: 5%; right: 5%; z-index: 22;}
.list-ul-a li{ float: left; width: 49%; padding: 1px; background-color: #FFF; height: auto; position: relative; }
.list-ul-b li{ width: 32.6%;}
.li-list{  text-align: center; vertical-align: middle; width: 100%; height: 100%;}
.li-list .list-img-a{display: block; background-color: #000;}
.li-v{ vertical-align: middle; margin-top: 5%;}
.li-d-top{ position: relative;}
.li-d-top:before{ display: block; content: ""; padding-top: 111%;}
.list-img-a{ position: absolute; z-index:6;  background-size: cover; left: 0; top: 0; bottom: 0;  background-position: center; box-sizing: border-box; width: 100%; height: auto;-moz-box-sizing:border-box;}
.list-img-a:before{display: block; content: ""; position: absolute;  top: 0;  left: 0;  right: 0;  bottom: 0;  z-index: -1;  background-size: .4rem auto;}
.list-f-txt{ position: absolute; z-index: 7; bottom: 0; width: 100%; left: 0;}
.list-txt-s{ float: left; height: 1rem; min-width: 1rem; line-height: 1.1rem; color: #FFF; font-size: .7rem; padding: 0 0 .2rem 1.4rem; margin-left: .4rem; position: relative;}
.list-f-icon01{ position: absolute; width: 1.2rem; height: 1rem; background-position: -6.7rem -1.15rem; z-index: 8; left: 0; top: 0;}
.list-b-txt{ height: 1.2rem;font-size: .8rem; color: #818b8c;  white-space: nowrap; padding: 0 .27rem; text-overflow: ellipsis; display:block;-webkit-line-clamp: 2;  -webkit-box-orient: vertical;  margin: .2rem auto; width: 95%; overflow: hidden; background-color: #FFF!important;}
.palyer-a{ width: 100%;  opacity: 1; background-size: cover; position: absolute; left: 0; top: 0; }
div.imvideo{ opacity: 1;-moz-opacity: 1;-webkit-opacity: 1; position: absolute; width: 100%; height: 100%;transparent:opacity 0.25s ease; z-index: 1; visibility: visible;left: -100%; display: block; }
.im-show{ left: 0 !important; z-index: 14 !important;}
#videoPlayer{ width: 100%; height: 100%; top: 0; left: 0; margin: auto; min-height: 1px; min-width: 1px; background-size: cover; position: absolute;object-fit:cover;}
.open-imay{ position: absolute; width: 100%; height: 3.3rem; bottom: .45rem; left: 0; top: 80%; z-index: 4; display: block;}
.open-imay-app{ display: block; width: 40%; float: right; margin-right: 5%;}
.imay-app-img{ width: 100%; height: 100%; background-position: center;}
.i-con{ zoom: 1;}
.i-con:after{ content: ''; display: block; clear: both;}
#g-footer{text-align: center; width: 100%;font-size: 12px; clear: both;}
.g-f-txt{ color: #6441a5;}
.g-f-txt a,.g-f-txt a:active,.g-f-txt a:visited,.g-f-txt a:hover{color: #6441a5;}
.g-f-txt a,.g-f-txt span{ display: inline-block; margin: 0 5px;}
.i-bot-txt { color: #666;}
.w-mes{ position: fixed; top: 0; right: 0;  width: 90%; z-index: 11;}
.w-mes-img{ width: 90%; height: 90%; background-size: 500px  auto; }
#imay-mask{ width: 100%; height: 100%; display: none;}
.s-loadng{ position: absolute; width: 50px; height: 50px; left: 50%; top: 50%; margin-left: -25px; margin-top: -25px; z-index: 1000;}
.s-loadng img{ width: 100%;}
.tab-bot{ background-color: #FFF; width: 100%;}
.tab-b-t,.tab-b-b,.g-footer{ width: 100%; text-align: center; height: 45px; line-height: 45px;position: relative;}
.tab-line,.tab-b-txt{display: block; position: absolute;top: 50%; }
.tab-line{  width: 60%; border-bottom: 1px solid #7f7f7f; z-index: 1; margin-left: -30%; left: 50%; }
.tab-b-txt{ width: 100%; z-index: 2; margin: -20px 0 0 0; text-align: center; left: 0; }
.tab-b-txt span{background-color: #FFF; display: inline-block; color: #7c7c7c; font-size: .9rem;}
.tab-b-b{ background-color: #7833b2; margin: 10px 0 0 0;}
.tab-play{ width: 100%; display: block; font-size: 1rem;  margin: 5px 0 0 0;}
.tab-play,.tab-play:active,.tab-play:visited,.tab-play:hover{ color: #FFF !important;}
#g-footer{ background-color: #ccb1ff; color: #6441a5; padding-top: 1px;}
.g-f-txt:last-child{ margin-bottom: 0;}