<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>iMay，分享你的游戏魅力</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="__CSS__/g-j-h5.css">
</head>
<body id="g-m-down">
<img class="g-m-j02">
<div class="g-m-d">
    <img src="" class="g-m-i06">
    <img class="g-m-i05">
    <img class="g-m-i07">
    <div class="g-d-con">
        <ul class="d-con-ul">
            <li>
                <h5>iTools录屏大师下载</h5>
                <h6>
                    <span>下载链接：<a class="g-i06-a">http://pro.itools.cn/airplayer</a></span>
                        <span>把iTools录屏大师下载链接复制到默认浏览器下，点击立即下载按钮，即可下载；</span>
                </h6>
            </li>
            <li>
                <h5>bonjour下载</h5>
                <h6>
                    <span>下载链接：<a class="g-i06-a">https://support.apple.com/kb/DL999?locale=zh_CN</a></span>
                    <span>把bonjour下载链接复制到默认浏览器下，点击蓝色的下载按钮，即可下载；</span>
                </h6>
            </li>
            <li>
                <h5>猴玩PC推流软件下载</h5>
                <h6>
                    <span>下载链接：<a class="g-i06-a">http://static.imay.com/download/ImayLive.msi</a></span>
                        <span>把iTools录屏大师下载链接复制到默认浏览器下，点击立即下载按钮，即可下载；</span>
                </h6>
            </li>
        </ul>
    </div>
</div>

<!-- 弹框 -->
<div class="game-pop">
    <div class="game-mask"></div>
    <div class="game-pop-c">
        <img class="game-i05">
        <div class="pop-c-c">
            <!-- Pf访问提示 -->
            <div class="game-pop-no game-anri" style="display: block;">
                <a class="game-pop-close">
                    <img class="game-i06">
                </a>
                <div class="game-anri-c">
                    <h5 class="game-mes">请前往pc端访问</h5>
                    <h6 class="game-mes-txt"></h6>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__JS__/jquery.js"></script>
<script>
    var img = "__IMG__/livehelper";
</script>
<script type="text/javascript" src="__JS__/g-j-h5.js"></script>

<script type="text/javascript">
    var _hmt = _hmt || [];
    $(function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?92271316ab45db908e0b6763467fea57";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })
</script>
</body>
</html>