<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>艺人管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <link type="text/css" rel="stylesheet" href="__PC_CSS__/common.css">
    <link type="text/css" rel="stylesheet" href="__PC_CSS__/artist.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>
<!--头部信息-->
{include file="../../common/view/default/header" /}
<article>
    <!--展示个人信息的banner-->
    {include file="../../common/view/default/infoBanner" /}
    <section>
        <div class="art-warp art-bot">
            <div class="art-tab-tri">
                <ul class="tab-tri-ul">
                    <li class="tri-default">收入榜</li>
                    <li>贡献榜</li>
                    <li>点赞榜</li>
                </ul>
            </div>
            <div class="art-tri-con">
                <div class="art-tri-d tri-d-show">
                    <table class="art-tri-table">
                        <thead>
                            <tr>
                                <th>名次</th>
                                <th>昵称</th>
                                <th>魅号</th>
                                <th>收入的魅力</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="rankList['income']" id="vo" key="i"}
                            <tr>
                                <td><b class="art-red art-font-s">{$i}</b>名</td>
                                <td>{$vo['user']['nick']}</td>
                                <td>{$vo['user']['roomId']}</td>
                                <td>{$vo['Value']}</td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="art-tri-d">
                    <table class="art-tri-table">
                        <thead>
                            <tr>
                                <th>名次</th>
                                <th>昵称</th>
                                <th>魅号</th>
                                <th>送出的魅力</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="rankList['outcome']" id="vo" key="i"}
                            <tr>
                                <td><b class="art-red art-font-s">{$i}</b>名</td>
                                <td>{$vo['user']['nick']}</td>
                                <td>{$vo['user']['roomId']}</td>
                                <td>{$vo['Value']}</td>
                            </tr>
                            {/volist}
                        
                        </tbody>
                    </table>
                </div>
                <div class="art-tri-d">
                    <table class="art-tri-table">
                        <thead>
                            <tr>
                                <th>名次</th>
                                <th>昵称</th>
                                <th>魅号</th>
                                <th>点赞数</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="rankList['prise']" id="vo" key="i"}
                            <tr>
                                <td><b class="art-red art-font-s">{$i}</b>名</td>
                                <td>{$vo['user']['nick']}</td>
                                <td>{$vo['user']['roomId']}</td>
                                <td>{$vo['Value']}</td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</article>
<!--登录、注册、忘记密码-->
{include file="../../common/view/default/login" /}
<script type="text/javascript" src="__PC_JS__/g-index.js"></script>
</body>
</html>