<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>iMay直播双旦活动</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="__CSS__/swiper.min.css">
	<link rel="stylesheet" href="__CSS__/h3-i01.css">
</head>
<body id="h3-bg">
<header>
	<div id="h3-header">
		<h5 class="h3-h-h5">小i直播</h5>
		<div class="h3-h-d1">
			<div class="h3-h-txt" style="left: 0px;" id="h3Scroll">当天阵营:<b class="h3-t-yellow">黄帽</b>  获得1598,当天阵营:<b class="h3-t-red">红帽</b>  获得1598,当天阵营:<b class="h3-t-yellow">黄帽</b>  获得1598,当天阵营:<b class="h3-t-red">红帽</b>  获得1598,当天阵营:<b class="h3-t-yellow">黄帽</b>  获得1598,当天阵营:<b class="h3-t-red">红帽</b>  获得1598</div>
		</div>
		<!--<img src="image/h3-i01.png">-->
		<div class="h3-h-but">
			<a class="h3-h-a">
				<img src="image/h3-i01.png">
			</a>
		</div>
	</div>
</header>
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<section>
				<div class="h3-info1 h3-pos">
					<img src="image/h3-j01.jpg" class="h3-j-i01">
					<img src="image/h3-i02.png" class="h3-p-i02 h3-pos aniInLeft">
					<img src="image/h3-i03.png" class="h3-p-i03 h3-pos aniInRight">
					<img src="image/h3-i04.png" class="h3-p-i04 h3-pos aniInTop tab-scroll">
					<img src="image/h3-i05.png" class="h3-p-i05 h3-pos aniInLeft">
					<img src="image/h3-i06.png" class="h3-p-i06 h3-pos aniInRight">
					<div class="h3-info1-t1 h3-pos aniInLeft">
						<img src="image/h3-i07.png" class="h3-p-i07 h3-pos">
						<div class="h3-info1-red h3-pos">
							<b>1780</b>
							<span>红帽</span>
						</div>
					</div>
					<div class="h3-info1-t2 h3-pos aniInRight">
						<img src="image/h3-i07.png" class="h3-p-i08 h3-pos">
						<div class="h3-info1-yellow h3-pos">
							<b>1780</b>
							<span>黄帽</span>
						</div>
					</div>
					<img src="image/h3-i30.png" class="h3-p-i09 h3-pos tab-scroll aniInBottom">
					<img src="image/h3-i08.png" class="h3-p-i10 h3-pos tab-scroll aniInBottom">
					<img src="image/h3-i26.png" class="h3-j-i02 h3-pos">
				</div>
			</section>
			<section>
				<!-- pk 榜单-->
				<div class="h3-info2 h3-pos">
					<img src="image/h3-i26.png" class="h3-j-i02 h3-pos">
					<div class="h3-info2-c1 h3-pos aniInBottom">
						<ul class="h3-c1-ul">
							<li>
								<span class="h3-c1-t1">第<b>1</b>天</span>
								<span class="h3-c1-t2">红帽胜</span>
								<img src="image/h3-i11.png" class="h3-p-i11 h3-pos">
							</li>
							<li class="h3-ul-checked">
								<span class="h3-c1-t1">第<b>2</b>天</span>
								<span class="h3-c1-t2">今天</span>
								<img src="image/h3-i11.png" class="h3-p-i11 h3-pos">
							</li>
							<li>
								<span class="h3-c1-t1">第<b>3</b>天</span>
								<span class="h3-c1-t2"></span>
								<img src="image/h3-i11.png" class="h3-p-i11 h3-pos">
							</li>
						</ul>
						<div class="h3-c1-con h3-pos">
							<img src="image/h3-i27.png" class="h3-p-i27">
							<!-- tab切换数据-->
							<div class="h3-c1-b">
								<!-- 第一天 -->
								<div class="h3-c1-c">
									<ul class="h3-c1-ul01 h3-pos">
										<li>
											<label>小甜甜1：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
									</ul>
									<ul class="h3-c1-ul02 h3-pos">
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
									</ul>
									<div class="h3-c1-mes h3-pos">*以上均为当天数据  单位：魅力</div>

								</div>
								<!-- 第二天 -->
								<div class="h3-c1-c">
									<ul class="h3-c1-ul01 h3-pos">
										<li>
											<label>小甜甜2：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
									</ul>
									<ul class="h3-c1-ul02 h3-pos">
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
									</ul>
									<div class="h3-c1-mes h3-pos">*以上均为当天数据  单位：魅力</div>

								</div>
								<!-- 第三天 -->
								<div class="h3-c1-c">
									<ul class="h3-c1-ul01 h3-pos">
										<li>
											<label>小甜甜3：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
									</ul>
									<ul class="h3-c1-ul02 h3-pos">
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
										<li>
											<label>小甜甜：</label>
											<span>176546</span>
										</li>
									</ul>
									<div class="h3-c1-mes h3-pos">*以上均为当天数据  单位：魅力</div>

								</div>
							</div>
							<a class="h3-c1-a h3-pos">
								<img src="image/h3-i10.png" class="h3-p-is10">
							</a>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="swiper-slide">
			<section>
				<div class="h3-info3 h3-pos">
					<img src="image/h3-i28.png" class="h3-j-i03 h3-pos">
					<img src="image/h3-i12.png" class="h3-p-i12 h3-pos fly1">
					<img src="image/h3-i12.png" class="h3-p-i26 h3-pos fly2">
					<img src="image/h3-i13.png" class="h3-p-i13 h3-pos aniInTop">
					<div class="h3-info3-c2 h3-pos twinkling">
						<img src="image/h3-i14.png" class="h3-p-i14">
						<div class="h2-c2-t1 h3-pos">
							<label>小甜甜</label>
							<span>52773</span>
						</div>
						<div class="h2-c2-t2 h3-pos">
							<label>小甜甜</label>
							<span>52773</span>
						</div>
						<div class="h2-c2-t3 h3-pos">
							<label>小甜甜</label>
							<span>52773</span>
						</div>
					</div>
					<div class="h3-info3-c3 h3-pos aniInBottom">
						<img src="image/h3-i15.png" class="h3-p-i15">
						<div class="h3-c3-t1">
							<ul class="h3-c3-ul h3-pos">
								<li>
									<label>小甜甜：</label>
									<span>176546</span>
								</li>
								<li>
									<label>小甜甜：</label>
									<span>176546</span>
								</li>
								<li>
									<label>小甜甜：</label>
									<span>176546</span>
								</li>
								<li>
									<label>小甜甜：</label>
									<span>176546</span>
								</li>
								<li>
									<label>小甜甜：</label>
									<span>176546</span>
								</li>
							</ul>
							<div class="h3-c3-tot h3-pos">
								<label>我的累计魅力值：</label>
								<b>201002</b>
							</div>
							<div class="h3-c3-mes">*以上均为活动期累计数据，单位：魅力</div>
							<a class="h3-c3-a">
								<img src="image/h3-i16.png" class="h3-p-i16">
							</a>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="swiper-slide">
			<section>
				<div class="h3-info4 h3-pos">
					<img src="image/h3-j02.jpg" class="h3-p-j02">
					<img src="image/h3-i17.png" class="h3-p-i17 h3-pos aniInLeft">
					<img src="image/h3-i18.png" class="h3-p-i18 h3-pos aniInTop">
					<div class="h3-info4-c4 h3-pos twinkling tab-scroll">
						<img src="image/h3-i19.png" class="h3-p-i19 h3-pos">
						<div class="h3-c4-t1 h3-pos">
							<span>剩余红包数</span>
							<b>328</b>
						</div>
						<div class="h3-c4-t2 h3-pos">
							累积开播<b>1</b>小时且<b>24:00</b>在线，即可获得4,000魅力红包一份（自动发放）
							限量500份！
						</div>
						<a class="h3-c4-a h3-pos">
							<img src="image/h3-i20.png" class="h3-p-i20">
						</a>
						<div class="h3-c4-t3 h3-pos">
							<img src="image/h3-i21.png" class="h3-p-i21 twinkling">
							<img src="image/h3-i23.png" class="h3-p-i23 h3-pos aniInTop">
							<img src="image/h3-i22.png" class="h3-p-i22 h3-pos expand h3-chicken"><!--h3-fly-->
							<img src="image/lq.png" class="h3-p-i22 h3-pos expand h3-lq" style="display: none;">
							<a class="h3-t4-a h3-pos" id="getMount">
								<img src="image/h3-i24.png" class="h3-p-i24">
							</a>
							<a class="h3-t4-a01 aniInRight tab-scroll">
								<img src="image/h3-i25.png" class="h3-p-i25">
							</a>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<section>
	<div class="h3-pop">
		<div class="h3-mask"></div>
		<div class="h3-pop-bg">
			<img src="image/h3-i31.png" class="h3-p-i31">
			<div class="h3-pop-txt h3-pos">
				<h3 class="h3-pop-h3">活动规则说明</h3>
				<div class="h3-pop-t1">1、活动时间:<b>12月23日—25日</b>，共<b>3</b>天</div>
				<div class="h3-pop-t1">2、奖励规则:活动期间每主播每天均有机会参与PK，阵营礼物（主播收到的礼物）总额较多一方为胜方，胜方阵营里每主播均可获得当天自己收礼总额5%奖励。</div>
				<div class="h3-pop-t1">3、奖励发放:活动结束后5个工作日内统一以魅力值发放至账户。</div>
				<div class="h3-pop-t1">4、阵营划分标准:将根据暧魅系统数据自动划分，如有异议请联系客服QQ。XXXXX。</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/swiper.min.js"></script>
<script>
	var swiper = new Swiper('.swiper-container', {
		pagination: '.swiper-pagination',
		paginationClickable: true,
		direction: 'vertical',
		onTouchStart: function(swiper,even){
			if(swiper.isEnd){
				//swiper.lockSwipeToNext();
			}
			else if(swiper.activeIndex==0){
				getInA();
			}
			else if(swiper.activeIndex==1){
				getInB();
			}
		}
	});
	$(function () {
		$(".h3-c1-b .h3-c1-c:nth-child(2)").show();
		setTimeout("addAni('.h3-p-i02')", 1000);
		setTimeout("addAni('.h3-p-i03')", 1000);
		setTimeout("addAni('.h3-info1-t1')", 1500);
		setTimeout("addAni('.h3-info1-t2')", 1500);
		setTimeout("addAni('.h3-p-i05')", 1500);
		setTimeout("addAni('.h3-p-i06')", 1500);
		setTimeout("addAniA('.h3-p-i10','pulsation')", 1800);
		setTimeout("addAni('.h3-info2-c1')", 2000);
		setInterval("topScroll()",1000);

		//tab
		$(".h3-c1-ul li").click(function () {
			var index = $(this).parent().children().index($(this));
			var obj = $(this).parent().parent().find(".h3-c1-con").children(".h3-c1-b").children();
			$(".h3-c1-ul li").removeClass("h3-ul-checked");
			$(this).addClass("h3-ul-checked");
			obj.fadeOut();
			obj.eq(index).fadeIn();

		});
		//fly
		$("#getMount").click(function () {

			$(this).hide();
			setTimeout("$('.h3-lq').show()",500);
			$('.h3-chicken').addClass("bing");
			$('.h3-fly').show().addClass("bing");

		});
		//活动规则查看
		$(".h3-c3-a").click(function () {
			$(".h3-pop").show();
		});
		$(".h3-t4-a01").click(function () {
			$(".h3-pop").show();
		});


	});
	function addAni(a) {
		$(a).addClass("tab-scroll");
	}
	function addAniA(a,b) {
		$(a).addClass(b);
	}

	function getInA() {
		$(".h3-p-i13").addClass("tab-scroll");
		$(".h3-info3-c2").addClass("tab-scroll");
		$(".h3-info3-c3").addClass("tab-scroll");
	}
	function getInB() {
		$(".h3-info4-c4").addClass("tab-scroll");
		$(".h3-p-i17").addClass("tab-scroll");
		$(".h3-p-i18").addClass("tab-scroll");
		$(".h3-info4-c").addClass("tab-scroll");
		$(".h3-p-i21").addClass("tab-scroll");
		$(".h3-p-i22").addClass("tab-scroll");
		$(".h3-p-i23").addClass("tab-scroll");
	}
	function topScroll() {
		var a = $('.h3-h-txt').attr("style");
		var b = a.substring(5);
		var c = b.replace("px;","");
		$(".h3-h-txt").css("left",c-20+"px");

	}
</script>
</body>
</html>