<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true">
    <!--<meta name='apple-itunes-app' content='app-id='>-->
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>
        广告测试
    </title>
    <meta content="telephone=no" name="format-detection">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="referrer" content="always">
    <link type="text/css" rel="stylesheet" href="__CSS__/i-s-index.css">
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/common.js"></script>
    <script type="text/javascript" src="__PJS__/plugins.js"></script>
    <script type="text/javascript" src="__BJS__/bootstrap.min.js"></script>
    <style type="text/css">
        .list-ul-a li{ width: 100%; float: none; height: 30px; line-height: 32px; text-align: center;  margin:0 0 5px 0!important;}
        a:link, a:visited, a:active{ color: #000 !important; }
        .list-ul-a li:hover{ background-color: #ccc;}
    </style>
</head>
<body>
    <div class="s-warp">
        <div id="top">
            <!-- <div id="top-bar">
                <i class="bar-logo"></i>
                <div class="bar-txt">
                    <h5>iMay直播</h5>
                    <h6>可以玩的直播</h6>
                </div>
            </div> -->

            <div id="imei-shadow"></div>
            <div class="w-mes">
                <img src="__IMG__/w_mes.png" class="w-mes-img">
            </div>
            <!-- 播放器 -->
            <div class="imay-player">
                <div class="palyer-a" id="container" tabindex="0">

                </div>
            </div>
            <!-- 播放按钮 -->
            <div class="s-v-i">

                <span class="play-btn"></span>
                <span class="play-video" style=" display: none;"></span>
            </div>
        </div>

        <div class="tab-list-con">
            <div class="list-con-a">
                <ul class="list-ul-a">
				<li><a href="iMay://com.imay.live/openwith?type=1#roomId=110068#url=http://down.imay.com/pi/110068/playlist.m3u8">进入直播间</a></li>
                 <li><a href="iMay://com.imay.live/openwith?type=2#uid=710">进入个人页</a></li>
                 <li><a href="iMay://com.imay.live/openwith?type=3#uid=729#FeedId=1455">进入动态详情页</a></li>
                 <li><a href="iMay://com.imay.live/openwith?type=4">进入充值页</a></li>
                 <li><a href="iMay://com.imay.live/openwith?type=5">进入准备开播页</a></li>
                 <li><a href="iMay://com.imay.live/openwith?type=6">进入拍摄照片页</a></li>
                 <li><a href="iMay://com.imay.live/openwith?type=7">进入拍摄视频页</a></li>
                 <li><a href="iMay://com.imay.live/openwith?type=8#title=iMay直播#text=哥很帅不服来辩#imageUrl=http://img.imay.com/pic-234555-1473483555-6648.png#url=http://testwww.imay.com/share.html?uid=3986&room_id=114497&ctime=1477380038&share_uid=756&from=qq">进入分享页</a></li>
                </ul>
            </div>
        </div>
    </div>
    {include file="../../common/view/default/footer" /}
</body>
</html>

