<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>情人节活动</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="__CSS__/lover.css">
</head>
<body>
<header>
    <div class="header-t">
        <h1>
            <img class="l-i03">
        </h1>
    </div>
</header>
<article>
    <section>
        <div class="l-bar">
            <img class="l-i01">
            <img class="l-i07 l-pos">
            <img class="l-i-i01 l-pos personal-images">
            <div class="l-bar-txt personal-information">
            </div>
        </div>
    </section>
    <section>
        <div class="l-mid">
            <img class="l-i02">
            <img class="l-i08 l-pos">
            <img class="l-i04 l-pos">
            <img src="__IMG__/valentine/l-bg10.png" class="l-i10 l-pos">
            <ul class="l-tab-ul l-pos">
                <li></li>
                <li></li>
            </ul>
            <div class="l-con l-pos">
                <div class="l-c-w">
                    <ul class="l-w-ul romantic">
                    </ul>
                </div>
                <div class="l-c-w">
                    <ul class="l-w-ul forever">
                    </ul>
                </div>
            </div>
            <div class="l-c-mes l-pos">* 榜单每15秒更新1次</div>
        </div>
    </section>
</article>
<footer>
    <div class="l-footer">
        <span>关注“iMay服务中心”公众号，充值有惊喜</span>
        <span>本活动最终解释权归iMay所有</span>
        <span>QQ：3383498099</span>
    </div>
</footer>
<script src="__JS__/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    var a = "__IMG__/valentine";
    var uid = "{$uid}";

    setTimeout(locationUrl(), 2000); //加载完页面后ajax请求数据并显示在页面上

    function locationUrl(){
        var  url = "{:url('activity/Valentine/ajaxindex')}";
        $.post(url,{'uid': uid},
            function(data){
                if (data['status'] == '1') {
                    //浪漫心排行榜
                    var total_str = '';
                    if (data.ranksA) {
                        for (var p = 0; p < data.ranksA.length; p++) {
                            var num = p + 1;
//                        var a_id = 'rank_' + num;
                            var nick = '';
                            if (data.ranksA[p]['nick']) {
                                nick = data.ranksA[p]['nick'];
                            } else {
                                nick = '';
                            }

                            total_str += "<li>";
                            total_str += '<div class="l-ul-t">';

                            if (p == 0) {
                                total_str += '<img src="__IMG__/valentine/l-bg06.png" class="l-i06">';
                            } else if (p == 1) {
                                total_str += '<img src="__IMG__/valentine/l-bg06a.png" class="l-i06">';
                            } else if (p == 2) {
                                total_str += '<img src="__IMG__/valentine/l-bg06b.png" class="l-i06">';
                            } else {
                                total_str += '<img src="__IMG__/valentine/l-bg06c.png" class="l-i06">';
                            }

                            total_str += '<span class="l-num">' + num + '</span>';

                            if (data.ranksA[p]['img_head']) {
                                total_str += '<img src="' + data.ranksA[p]['img_head'] + '?imageView2/2/w/200" class="l-i-i02">';
                            } else {
                                total_str += '<img src="__IMG__/no.png" class="l-i-i02">';
                            }

                            total_str += '<span class="l-w-txt">' + nick + '</span>';
                            total_str += '<em  class="l-em-txt">' + data.ranksA[p]['score'] + '</em>';

//                        if (data.ranksA[p]['live_status'] == 1) {
//                            total_str += '<a id="' + a_id + '" onclick="_hmt.push([\'_trackEvent\', \'ranking_list\', \'click\', \'' + a_id + '\'])" class="l-i05-a" href="' + data.ranksA[p]['url'] + '"><img src="__IMG__/valentine/l-bg05.png" class="l-i05"></a>';
//                        } else {
//                            total_str += '<a id="' + a_id + '" onclick="_hmt.push([\'_trackEvent\', \'ranking_list\', \'click\', \'' + a_id + '\'])" class="l-i05-a" href="javascript:;"><img src="__IMG__/valentine/l-bg05a.png" class="l-i05"></a>';
//                        }

                            total_str += '</div>';
                            if (p == 0) {
                                total_str += '<img src="__IMG__/valentine/l-bg09.png" class="l-i09 ">';
                            } else if (p == 1) {
                                total_str += '<img src="__IMG__/valentine/l-bg09a.png" class="l-i09 ">';
                            } else if (p == 2) {
                                total_str += '<img src="__IMG__/valentine/l-bg09b.png" class="l-i09 ">';
                            } else {
                                total_str += '<img src="__IMG__/valentine/l-bg09c.png" class="l-i09 ">';
                            }
                            total_str += "</li>";
                        }
                    }

                    $(".romantic").html(total_str);

                    //永恒心排行榜
                    var fatten = '';
                    if (data.ranksB) {
                        for (var i = 0; i < data.ranksB.length; i++) {
                            var number = i + 1;
                            var nickName = '';
                            if (data.ranksB[i]['nick']) {
                                nickName = data.ranksB[i]['nick'];
                            } else {
                                nickName = '';
                            }
                            fatten += "<li>";
                            fatten += '<div class="l-ul-t">';

                            if (i == 0) {
                                fatten += '<img src="__IMG__/valentine/l-bg06.png" class="l-i06">';
                            } else if (i == 1) {
                                fatten += '<img src="__IMG__/valentine/l-bg06a.png" class="l-i06">';
                            } else if (i == 2) {
                                fatten += '<img src="__IMG__/valentine/l-bg06b.png" class="l-i06">';
                            } else {
                                fatten += '<img src="__IMG__/valentine/l-bg06c.png" class="l-i06">';
                            }

                            fatten += '<span class="l-num">' + number + '</span>';

                            if (data.ranksB[i]['img_head']) {
                                fatten += '<img src="' + data.ranksB[i]['img_head'] + '?imageView2/2/w/200" class="l-i-i02">';
                            } else {
                                fatten += '<img src="__IMG__/no.png" class="l-i-i02">';
                            }

                            fatten += '<span class="l-w-txt">' + nickName + '</span>';
                            fatten += '<em  class="l-em-txt">' + data.ranksB[i]['score'] + '</em>';

//                        if (data.ranksB[i]['live_status'] == 1) {
//                            fatten += '<a id="' + a_id + '" onclick="_hmt.push([\'_trackEvent\', \'ranking_list\', \'click\', \'' + a_id + '\'])" class="l-i05-a" href="' + data.ranksB[i]['url'] + '"><img src="__IMG__/valentine/l-bg05.png" class="l-i05"></a>';
//                        } else {
//                            fatten += '<a id="' + a_id + '" onclick="_hmt.push([\'_trackEvent\', \'ranking_list\', \'click\', \'' + a_id + '\'])" class="l-i05-a" href="javascript:;"><img src="__IMG__/valentine/l-bg05a.png" class="l-i05"></a>';
//                        }

                            fatten += '</div>';
                            if (i == 0) {
                                fatten += '<img src="__IMG__/valentine/l-bg09.png" class="l-i09 ">';
                            } else if (i == 1) {
                                fatten += '<img src="__IMG__/valentine/l-bg09a.png" class="l-i09 ">';
                            } else if (i == 2) {
                                fatten += '<img src="__IMG__/valentine/l-bg09b.png" class="l-i09 ">';
                            } else {
                                fatten += '<img src="__IMG__/valentine/l-bg09c.png" class="l-i09 ">';
                            }
                            fatten += "</li>";

                        }
                    }

                    $(".forever").html(fatten);

                    // 个人信息排行榜
                    var information = '';
                    information += '<h2 class="l-tit l-pos"><span>' + data.ranksC['nick'] + '</span></h2>';
                    information += '<div class="l-l-txt l-pos">';
                    information += '<span><b>' + data.ranksC['myReceiveRomantic'] + '</b>' + '个' + '</span>'; //浪漫心
                    information += '<span>' + '排名' + '<em>' + data.ranksC['myRomanticRank'] + '</em></span>'; //浪漫心排名
                    information += '</div>';
                    information += '<div class="l-l-txt l-y-txt l-pos">';
                    information += '<span><b>' + data.ranksC['myReceiveForever'] + '</b>' + '个' + '</span>'; //永恒心
                    information += '<span>' + '排名' + '<em>' + data.ranksC['myForeverRank'] + '</em></span>'; //永恒心排名
                    information += '</div>';
                    information += '<div class="l-l-txt l-m-txt l-pos">';
                    information += '<span><b>' + data.ranksC['mySpendDiamond'] + '</b>' + '魅钻' + '</span>'; //我的送礼消耗魅钻
                    information += '<span>' + '排名' + '<em>' + data.ranksC['mySpendRank'] + '</em></span>'; //排名
                    information += '</div>';

                    $(".personal-information").html(information);

                    $('.personal-images').attr('src', data.ranksC['imgHead']);

                }
            }, "json");
    }
        setInterval("locationUrl()",15000);

</script>
<script src="__JS__/lover.js" type="text/javascript"></script>

<script type="text/javascript">
    var _hmt = _hmt || [];
    $(function () {

        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?92271316ab45db908e0b6763467fea57";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })
</script>
</body>
</html>