<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>iMay游戏大课堂之切水果</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__CSS__/fruit.css">
</head>
<body>
<section>
    <div class="g1-info1 g1-info">
        <div class="g1-info1-bar">
            <h1><img class="g1-imaylogo g-pos"></h1>
        </div>
        <div class="g1-info1-a">
            <img class="g1-i01 aniInTop g-pos">
            <img class="g1-i02 aniInTop g-pos">
            <img class="g1-i03 aniInRight g-pos">
            <img class="g1-g11 g-pos">
        </div>
        <div class="g1-info1-b">
            <img  class="g1-i74 g-pos">
        </div>
        <div class="g1-info1-c">
            <div class="g1-info2-bg g1-info1-bg"></div>
            <img class="g1-i05a-a g1-head g-pos">
            <img class="g1-i05a g1-head g-pos">
            <img class="g1-i06 g1-head g-pos">
            <img class="g1-i06a g1-head g-pos">
            <img class="g1-i08-a g-pos">
            <img class="g1-i08 g-pos">
            <img class="g1-i09 g-pos">
            <img class="g1-i10 g-pos">
            <img class="g1-i15 g-pos">
            <img class="g1-i16 g-pos">
            <img class="g1-g02 g-pos">
        </div>
    </div>
</section>
<section>
    <div class="g1-info2 g1-info">
        <div class="g1-info2-a g1-h-f">
            <div class="g1-info2-bg"></div>
            <img class="g1-i17 g1-head g-pos">
            <img class="g1-i12 g-pos">
            <img class="g1-i13 g-pos">
            <img class="g1-i14 g-pos">
            <img class="g1-i18 g1-head g-pos">
            <img class="g1-i17a g1-head g-pos">
            <img class="g1-i19 g-pos">
        </div>
        <div class="g1-info2-b">
            <img class="g1-i22 g-pos">
            <img class="g1-i25 g-pos">
            <img class="g1-i18b g1-head g-pos">
            <img class="g1-i17c g1-head g-pos">
            <img class="g1-i26 g-pos">
            <img class="g1-i27 g-pos">
        </div>
    </div>
</section>
<section>
    <div class="g1-info3 g1-info">
        <div class="g1-info2-a">
            <div class="g1-info2-bg"></div>
            <img class="g1-i54 g-pos">
            <img class="g1-i51 g-pos">
            <img class="g1-i18i g1-head g-pos">
            <img class="g1-i17h g1-head g-pos">
            <img class="g1-i52 g-pos">
            <img class="g1-i53 g-pos">
            <img class="g1-i18j g1-head g-pos">
            <img class="g1-i50 g-pos">
        </div>
        <div class="g1-info2-b">
            <img class="g1-i17m g1-head g-pos">
            <img class="g1-i70 g-pos">
            <img class="g1-i71 g-pos">
            <img class="g1-i18o g1-head g-pos">
            <img class="g1-i17m-a g1-head g-pos">
            <img class="g1-i70a g-pos">
            <img class="g1-i71a g-pos">
            <img class="g1-i18o-a g1-head g-pos">
            <img class="g1-i72 g-pos">
            <img class="g1-logo g-pos">
            <img class="iMayCode g-pos">
        </div>
    </div>
</section>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/fruit.js"></script>
<script>
    var aa = "__IMG__/fruit";
</script>
</body>
</html>