<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>iMay游戏大课堂之大话骰</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__CSS__/dice.css">
</head>
<body>
<section>
    <div class="g1-info1 g1-info">
        <div class="g1-info1-bar">
            <h1><img class="g1-imaylogo g-pos"></h1>
        </div>
        <div class="g1-info1-a">
            <img class="g1-i01 aniInTop g-pos">
            <img class="g1-i02 aniInTop g-pos">
            <img class="g1-i03 aniInRight g-pos">
            <img class="g1-g11 g-pos">
        </div>
        <div class="g1-info1-b">
            <img  class="g1-i74 g-pos">
        </div>
        <div class="g1-info1-c">
            <div class="g1-info2-bg g1-info1-bg"></div>
            <img class="g1-i05a g1-head g-pos">
            <img class="g1-i06 g1-head g-pos">
            <img class="g1-i06a g1-head g-pos">
            <img class="g1-i08 g-pos">
            <img class="g1-i09 g-pos">
            <img class="g1-i10 g-pos">
            <img class="g1-i15 g-pos">
            <img class="g1-i16 g-pos">
            <img class="g1-g02 g-pos">
        </div>
    </div>
</section>
<section>
    <div class="g1-info2 g1-info">
        <div class="g1-info2-a">
            <div class="g1-info2-bg"></div>
            <img class="g1-i17 g1-head g-pos">
            <img class="g1-i12 g-pos">
            <img class="g1-i13 g-pos">
            <img class="g1-i14 g-pos">
            <img class="g1-i18 g1-head g-pos">
            <img class="g1-i17a g1-head g-pos">
            <img class="g1-i19 g-pos">
            <img class="g1-i21 g-pos">
        </div>
        <div class="g1-info2-b">
            <img class="g1-i22 g-pos">
            <img class="g1-i17b g1-head g-pos">
            <img class="g1-i24 g-pos">
            <img class="g1-i25 g-pos">
            <img class="g1-i18b g1-head g-pos">
            <img class="g1-i17c g1-head g-pos">
            <img class="g1-i26 g-pos">
            <img class="g1-i27 g-pos">
            <img class="g1-i18b-a g1-head g-pos">
            <img class="g1-i27-a g-pos">
        </div>
    </div>
</section>
<section>
    <div class="g1-info3 g1-info">
        <div class="g1-info2-c">
            <div class="g1-info2-bg"></div>
            <img class="g1-i32 g-pos">
            <img class="g1-i31 g-pos">
            <img class="g1-i33 g-pos">
            <img class="g1-i18c g1-head g-pos">
            <img class="g1-i17c1 g1-head g-pos">
            <img class="g1-i34 g-pos">
            <img class="g1-i35 g-pos">
            <img class="g1-i18d g1-head g-pos">
            <img class="g1-i18c-a g1-head g-pos">
            <img class="g1-i35a g-pos">
            <img class="g1-i18c-b g1-head g-pos">
            <img class="g1-i35b g-pos">
            <img class="g1-i17c1-a g1-head g-pos">
            <img class="g1-i35c g-pos">
        </div>
        <div class="g1-info2-d">
            <img class="g1-i27a g-pos">
            <img class="g1-i18c-c g1-head g-pos">
            <img class="g1-i35d g-pos">
            <img class="g1-i17c1-b g1-head g-pos">
            <img class="g1-i35e g-pos">
        </div>
    </div>
</section>
<section>
    <div class="g1-info4 g1-info">
        <div class="g1-info2-a">
            <div class="g1-info2-bg"></div>
            <img class="g1-i17f-a g1-head g-pos">
            <img class="g1-i46a g-pos">
            <img class="g1-i44 g-pos">
            <img class="g1-i48 g-pos">
            <img class="g1-i45 g-pos">
            <img class="g1-i18g g1-head g-pos">
            <img class="g1-i17f g1-head g-pos">
            <img class="g1-i46 g-pos">
            <img class="g1-i47 g-pos">
            <img class="g1-i18h g1-head g-pos">
            <img class="g1-h17a g1-head g-pos">
            <img class="g1-h03 g-pos">
        </div>
        <div class="g1-info2-b">
            <img class="g1-i17m g1-head g-pos">
            <img class="g1-i70 g-pos">
            <img class="g1-i71 g-pos">
            <img class="g1-i18o g1-head g-pos">
            <img class="g1-i17m-a g1-head g-pos">
            <img class="g1-i71a g-pos">
            <img class="g1-i18o-a g1-head g-pos">
            <img class="g1-i70a g-pos">
            <img class="g1-i72 g-pos">
            <img class="g1-logo g-pos">
            <img class="iMayCode g-pos">
        </div>
    </div>
</section>
<script type="text/javascript" >
    var src = "__IMG__/dice";
</script>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/dice.js"></script>
</body>
</html>