<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>iMay游戏大课堂之暴雨救援</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__CSS__/rain.css">
</head>
<body>
<section>
    <div class="g1-info1 g1-info">
        <div class="g1-info1-bar">
            <h1><img class="g1-imaylogo g-pos"></h1>
            <!--<a><img class="g1-i75 g-pos"></a>-->
        </div>
        <div class="g1-info1-a">
            <img class="g1-i01 aniInTop g-pos">
            <img class="g1-i02 aniInTop g-pos">
            <img class="g1-i03 aniInRight g-pos">
            <img class="g1-g01 g-pos">
            <img class="g1-g11 g-pos">
        </div>
        <div class="g1-info1-b">
            <img class="g1-i04 g-pos">
            <img class="g1-i04a g-pos">
            <img  class="g1-i74 g-pos">
        </div>
        <div class="g1-info1-c">
            <div class="g1-info2-bg g1-info1-bg"></div>
            <img class="g1-i05 g1-head g-pos">
            <img class="g1-i05a g1-head g-pos">
            <img class="g1-i06 g1-head g-pos">
            <img class="g1-i06a g1-head g-pos">
            <img class="g1-i07 g-pos">
            <img class="g1-i08 g-pos">
            <img class="g1-i09 g-pos">
            <img class="g1-i10 g-pos">
            <img class="g1-i15 g-pos">
            <img class="g1-i16 g-pos">
            <img class="g1-g02 g-pos">
            <img class="g1-h01 g1-head g-pos">
            <img class="g1-h02 g-pos">
        </div>
    </div>
</section>
<section>
    <div class="g1-info2 g1-info">
        <div class="g1-info2-a">
            <div class="g1-info2-bg"></div>
            <img src="images/g-i17.png" class="g1-i17 g1-head g-pos">
            <img class="g1-i12 g-pos">
            <img class="g1-i13 g-pos">
            <img class="g1-i14 g-pos">
            <img class="g1-i18 g1-head g-pos">
            <img class="g1-i17a g1-head g-pos">
            <img class="g1-i19 g-pos">
            <!--<img class="g1-i20 g-pos">-->
            <!--<img class="g1-i18a g1-head g-pos">-->
            <img class="g1-i21 g-pos">
        </div>
        <div class="g1-info2-b">
            <img class="g1-i22 g-pos">
            <!--<img class="g1-i23 g-pos">-->
            <img class="g1-i17b g1-head g-pos">
            <img class="g1-i24 g-pos">
            <img class="g1-i25 g-pos">
            <img class="g1-i18b g1-head g-pos">
            <img class="g1-i17c g1-head g-pos">
            <img class="g1-i26 g-pos">
            <img class="g1-i27 g-pos">
        </div>
    </div>
</section>
<section>
    <div class="g1-info3 g1-info">
        <div class="g1-info2-c">
            <!--<div class="g1-info2-bg"></div>-->
            <img class="g1-i32 g-pos">
            <img class="g1-i31 g-pos">
            <img class="g1-i33 g-pos">
            <img class="g1-i18c g1-head g-pos">
            <img class="g1-i17c1 g1-head g-pos">
            <img class="g1-i34 g-pos">
            <img class="g1-i35 g-pos">
            <img class="g1-i18d g1-head g-pos">
            <img class="g1-i18c-a g1-head g-pos">
            <img class="g1-i35a g-pos">
        </div>
        <div class="g1-info2-d">
            <img class="g1-i18c-b g1-head g-pos">
            <img class="g1-i35b g-pos">
            <img class="g1-i17c1-a g1-head g-pos">
            <img class="g1-i35c g-pos">
            <img class="g1-i18c-c g1-head g-pos">
            <img class="g1-i35d g-pos">
            <img class="g1-i17c1-b g1-head g-pos">
            <img class="g1-i35e g-pos">
        </div>
    </div>
</section>
<section>
    <div class="g1-info4 g1-info">
        <div class="g1-info2-a">
            <div class="g1-info2-bg"></div>
            <img class="g1-i44 g-pos">
            <img class="g1-i48 g-pos">
            <!--<img class="g1-i49 g-pos">-->
            <img class="g1-i45 g-pos">
            <img class="g1-i18g g1-head g-pos">
            <img class="g1-i17f g1-head g-pos">
            <img class="g1-i46 g-pos">
            <img class="g1-i47 g-pos">
            <img class="g1-i18h g1-head g-pos">
            <img class="g1-h17a g1-head g-pos">
            <img class="g1-h03 g-pos">
        </div>
        <div class="g1-info2-b">
            <img class="g1-i54 g-pos">
            <img class="g1-i55 g-pos">
            <img class="g1-i51 g-pos">
            <img class="g1-i18i g1-head g-pos">
            <img class="g1-i17h g1-head g-pos">
            <img class="g1-i52 g-pos">
            <img class="g1-i53 g-pos">
            <img class="g1-i18j g1-head g-pos">
            <img class="g1-i50 g-pos">
            <img class="g1-i17h-a g1-head g-pos">
            <img class="g1-i50a g-pos">
        </div>
    </div>
</section>
<section>
    <div class="g1-info5 g1-info">
        <div class="g1-info2-a">
            <div class="g1-info2-bg"></div>
            <img class="g1-i65 g-pos">
            <img class="g1-i17i-a g1-head g-pos">
            <img class="g1-i57a g-pos">
            <!--<img class="g1-i63 g-pos">-->
            <img class="g1-i57 g-pos">
            <img class="g1-i18k g1-head g-pos">
            <img class="g1-i17i g1-head g-pos">
            <img class="g1-i58 g-pos">
            <img class="g1-i56 g-pos">
            <img class="g1-i18k-a g1-head g-pos">
            <img class="g1-i58a g-pos">
        </div>
        <div class="g1-info2-b">
            <img class="g1-i17j-a g1-head g-pos">
            <img class="g1-i61a g-pos">
            <img class="g1-i64 g-pos">
            <img class="g1-i59 g-pos">
            <img class="g1-i60 g-pos">
            <img class="g1-i18l g1-head g-pos">
            <img class="g1-i17j g1-head g-pos">
            <img class="g1-i61 g-pos">
            <img class="g1-i62 g-pos">
            <img class="g1-i18m g1-head g-pos">
        </div>
    </div>
</section>
<section>
    <div class="g1-info6 g1-info">
        <div class="g1-info2-a">
            <div class="g1-info2-bg"></div>
            <img class="g1-i66 g-pos">
            <img class="g1-i17k g1-head g-pos">
            <img class="g1-i67 g-pos">
            <img class="g1-i68 g-pos">
            <img class="g1-i18n g1-head g-pos">
            <img class="g1-i17l g1-head g-pos">
            <img class="g1-i69 g-pos">
            <img class="g1-i73 g-pos">
            <img class="g1-i68a g-pos">
            <img class="g1-i18n-a g1-head g-pos">
        </div>
        <div class="g1-info2-b">
            <img class="g1-i17m g1-head g-pos">
            <img class="g1-i70 g-pos">
            <img class="g1-i71 g-pos">
            <img class="g1-i18o g1-head g-pos">
            <img class="g1-i72 g-pos">
            <img class="g1-logo g-pos">
            <img class="iMayCode g-pos">
        </div>
    </div>
</section>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/rain.js"></script>
<script type="text/javascript" >
    var a = "__IMG__";
</script>
</body>
</html>