<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>经纪人管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <link type="text/css" rel="stylesheet" href="__PC_CSS__/common.css">
    <link type="text/css" rel="stylesheet" href="__PC_CSS__/artist.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>
<!--头部信息-->
{include file="../../common/view/default/header" /}
<article>
    <!--展示个人信息的banner-->
    {include file="../../common/view/default/infoBanner" /}
    <section>
        <div class="art-warp">
            <div class="agent-s-top">
                <div class="agent-top-l">
                    <div class="agent-l-t">
                        <div class="charm-bar-l">
                            <span class="charm-txt-a">签约艺人数：</span>
                            <span class="charm-txt-b art-red"><b>{$info['anchornum']|default=0}</b></span>
                            <div class="charm-line-a"></div>
                        </div>
                        <div class="charm-bar-l">
                            <span class="charm-txt-a">艺人总魅力收入：</span>
                            <span class="charm-txt-b art-red"><b> {$info['anchorsmeili']|default=0} </b></span>
                            <div class="charm-line-a"></div>
                        </div>
                        <div class="charm-bar-l">
                            <span class="charm-txt-a">艺人总粉丝数：</span>
                            <span class="charm-txt-b art-blue"><b> {$info['anchorsfans']|default=0} </b></span>
                        </div>
                    </div>
                    <div class="agent-l-t">
                        <div class="charm-bar-l">
                            <span class="charm-txt-a">15级以上粉丝数：</span>
                            <span class="charm-txt-b art-red"><b>{$info['lv15fans']|default=0}</b></span>
                            <div class="charm-line-a"></div>
                        </div>
                        <div class="charm-bar-l">
                            <span class="charm-txt-a">30级以上粉丝数：</span>
                            <span class="charm-txt-b art-red"><b> {$info['lv30fans']|default=0} </b></span>
                            <div class="charm-line-a"></div>
                        </div>
                        <div class="charm-bar-l">
                            <span class="charm-txt-a">40级以上粉丝数：</span>
                            <span class="charm-txt-b art-blue"><b> {$info['lv40fans']|default=0} </b></span>
                        </div>
                    </div>
                </div>
                <div class="agent-top-r">
                    <h5 class="charm-bar-tit">今日</h5>
                    <div class="charm-bar-c inter-h-c">
                        <div class="charm-bar-l">
                            <span class="charm-txt-a">艺人收入：</span>
                            <span class="charm-txt-b art-red"><b>{$info['anchorsincomeday']|default=0}</b></span>
                        </div>
                        <div class="charm-bar-l">
                            <span class="charm-txt-a">直播观众人数：</span>
                            <span class="charm-txt-b art-red"><b> {$info['anchorsliveviewersday']|default=0} </b></span>
                        </div>
                        <div class="charm-bar-l">
                            <span class="charm-txt-a">新增粉丝数：</span>
                            <span class="charm-txt-b art-blue"><b> {$info['anchorsfansincrday']|default=0} </b></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="art-warp art-bot">
            <div class="art-tab-tri">
                <ul class="tab-tri-ul">
                    <li class="tri-default">艺人详细数据 </li>
                    <li>旗下艺人排行榜</li>
                </ul>
            </div>
            <div class="art-tri-con">
                <div class="art-tri-d tri-d-show">
                    <table class="art-tri-table">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>魅号</th>
                            <th>昵称</th>
                            <th>今日直播时长</th>
                            <th>今日直播收入</th>
                            <th>今日观众人数</th>
                            <th>今日粉丝增长</th>
                            <th>今日游戏次数</th>
                            <th>今日动态数</th>
                        </tr>
                        </thead>
                        <tbody>
                            {volist name="info['anchorsdetails']" id="vo" key="i"}
                            <tr>
                                <td>{:date('Y-m-d',strtotime($vo['Date']))}</td>
                                <td><a href="{:url('Broker/Actor/index', array('uid'=>$vo['Uid']))}">{$vo['RoomId']}</a></td>
                                <td><a href="{:url('Broker/Actor/index', array('uid'=>$vo['Uid']))}">{$vo['Nick']}</a></td>
                                <td>{$vo['LiveTime']}</td>
                                <td>{$vo['LiveIncome']}</td>
                                <td>{$vo['Viewers']}</td>
                                <td>{$vo['FansIncr']}</td>
                                <td>{$vo['GameCount']}</td>
                                <td>{$vo['FeedCount']}</td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="art-tri-d">
                    <table class="art-tri-table">
                        <thead>
                        <tr>
                            <th>魅号</th>
                            <th>昵称</th>
                            <th>魅力收入</th>
                            <th>新增粉丝</th>
                            <th>观众人数</th>
                            <th>动态数</th>
                            <th>动态转发数</th>
                            <th>动态评论数</th>
                            <th>动态赞数</th>
                        </tr>
                        </thead>
                        <tbody>
                            {volist name="info['anchorsrankdata']" id="vo" key="i"}
                            <tr>
                                <td>{$vo['RoomId']}</td>
                                <td>{$vo['Nick']}</td>
                                <td>{$vo['MeiliIncome']}</td>
                                <td>{$vo['FansIncr']}</td>
                                <td>{$vo['Viewers']}</td>
                                <td>{$vo['FeedCount']}</td>
                                <td>{$vo['RepostCount']}</td>
                                <td>{$vo['CommentCount']}</td>
                                <td>{$vo['PraiseCount']}</td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</article>
<!--登录、注册、忘记密码-->
{include file="../../common/view/default/login" /}
<script type="text/javascript" src="__PC_JS__/g-index.js"></script>
</body>
</html>