@charset "utf-8";
/* CSS Document */
/*reset*/
*{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe{margin:0;padding:0;border:0; word-wrap: break-word; -webkit-text-size-adjust:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial;font-family:\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
input,select,textarea{font-size:100%; vertical-align:middle; border:0;background:none;box-shadow:none; -moz-appearance:none; appearance:none; outline:none; -webkit-outline:none;-webkit-appearance:searchfield;-webkit-rtl-ordering:logical;-webkit-user-select:text;-webkit-appearance:none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
input:focus,textarea:focus{outline:none}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
img{border:0 none; padding: 0; margin: 0;}
img, object {max-width: 100%;}
em,i,code,cite,address,th{font-style:normal;font-weight:500}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
q:before,q:after{ content:''}
abbr,acronym{ border:0}
a{text-decoration:none;-webkit-user-select:none;}
.none{ display:none;}
.hr_10{clear:both;height:10px;line-height:1px;font-size:1px}
.hr_5{clear:both;height:5px;line-height:1px;font-size:1px}
.hr_1{clear:both;height:1px;line-height:1px;font-size:0}
.wb{clear:both; border:none; height:1px; line-height:1px; background:#FFF; font-size:0; overflow:hidden}
a:link,a:visited,a:hover,a:active{color:#999;text-shadow:none}
.w320{ width:320px; margin:0 auto; clear:both; position:relative;}
.w360{ width:360px; margin:0 auto; clear:both; position:relative;}
.w480{ width:480px; margin:0 auto; clear:both; position:relative;}
/*reset end*/
body{  background: url("../images/g-bg01.jpg") #ffe900 repeat-y; background-size: contain; height: 100%; width: 100%;}
img,.g1-info1,.g1-info2{ width: 100%; position: relative;}
.g1-imaylogo{ width: 16%; display: block; margin: 1% 0 0 2%; }
.g1-i75{ width: 24%; display: block; right: 1%; left: inherit !important; margin-top: 1%;}
.g1-i74{ width: 88%; display: block; left: 50% !important; margin-left: -44%; margin-top: -11%;}
.g1-i05,.g1-i07{margin-top: 2%;}
.g1-info1-bg{ height: 80% !important;}
.g1-info1-c{ height: 33%;}
.g1-info1,.g1-info2,.g1-info3{ height: 100%;}
.g-pos{ position: absolute; top: 0; }
.g1-info1,.g1-info2,.g1-info3{ position: relative;}
.g1-info1-a,.g1-info1-b,.g1-info1-c{ position: absolute; left: 0; z-index: 2; width: 100%; top: 4%;}
.g1-i01,.g1-i02{ width: 20%;}
.g1-i01{ left: 15%;}
.g1-i02{ left: 32%; margin-top: 2%;}
.g1-i03{ width: 40%; left: 53%; margin-top: -2.3%;}
.g1-info1-b{ top: 33%;}
.g1-i04,.g1-i04a{ width: 18%;}
.g1-i04{left:11%; margin-top: 1%; transform:rotate(35deg);-ms-transform:rotate(35deg);-moz-transform:rotate(35deg); -webkit-transform:rotate(35deg);-o-transform:rotate(35deg); 	}
.g1-i04a{ left: 73%;transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);}
.g1-info1-c{top: 65%;}
.g1-head{width: 10%;left: 1.5%;}
.g1-i05{left: 1.5%;}
.g1-i06{left: 88%; margin-top: 12%;}
.g1-i07,.g1-i08{ width: 85%;}
.g1-i07,.g1-i09{ left: 11%;}
.g1-i08{ left: 2.5%;margin-top: 13%;}
.g1-i05a{ margin-top: 22%;left: 1.5%;}
.g1-i09{ margin-top: 22.5%; width: 46%;}
.g1-i06a{ left: 88%; margin-top: 29%;}
.g1-i10{ width: 64%; margin-top: 31%; left: 24%;}
.g1-g01,.g1-g11{ width: 35%; margin-top: 18%; left: 35%; }
.g1-i15{ margin-top: 40.5%; width: 10%; left: 31%}
.g1-i16{ margin-top: 42%; width: 15%; left: 41%;}
.g1-g02{ width:15%; margin-top: 44%; left: 40%; }
.g1-info2-a,.g1-info2-b,.g1-info2-c,.g1-info2-d,.g1-info2-e,.g1-info2-f{ width: 100%;height: 50%; position: relative;}
.g1-info2-bg{background-color: #f39090;  width: 100%; height: 100%; opacity: .5;}
.g1-i12{ margin-top: 3%; width: 29%;left: 14%}
.g1-i17{ margin-top: 10%;}
.g1-i13{ margin-top: 10%; width: 37.5%; left: 11%;}
.g1-i18{margin-top:28.5%; left: 42%;}
.g1-i14{ width: 17.8%; margin-top:30%; left: 24%;}
.g1-i17a{ margin-top: 42.5%;}
.g1-i19{ width: 37.5%; margin-top: 42.5%;left: 11%;}
.g1-i20{ width: 27%; margin-top: 74.5%; left: 14%;}
.g1-i18a{ margin-top: 73.5%; left: 42%;}
.g1-i21{ width: 46%; left: 53%; margin-top: 5%;}
.g1-info2-a{ margin-top: 0;}
.g1-i22{ width: 48%; left: 50%; margin-top: 2.5%;}
.g1-i23{ width: 40%; left: 53%; margin-top: 9%;}
.g1-i24{ width: 37%; left: 58%; margin-top: 16%;}
.g1-i17b{ left: 48%; margin-top: 16%;}
.g1-i25{ width: 30%; left: 58%; margin-top: 45%;}
.g1-i18b{ left: 88%; margin-top: 45%;}
.g1-i17c{ left: 48%; margin-top: 60%;}
.g1-i26{ width: 37%; left: 58%; margin-top: 60%;}
.g1-i27{ width: 46%; left: 1.5%; margin: 5% 0 2% 0;}
.g1-info3{ position: relative; height: 100%;}
.g1-i31{ width: 41%; left:3%; margin-top: 5%;}
.g1-i32{ width: 42%;margin: 3% 0 0 0; right: 4%;}
.g1-info2-c{ height: 46%;}
.g1-i33{ width: 33%;left:7%; margin-top: 14%;}
.g1-i18c{left:42%; margin-top: 13%;}
.g1-i17c1{ margin-top: 32%;}
.g1-i34{ width: 37%;left:12%; margin-top: 32%;}
.g1-i35{ width: 34%;left:5%; margin-top: 58%;}
.g1-i18d{ left:42%; margin-top: 57%;}
.g1-info2-d{ height: 54%;}
.g1-i36{ width: 34%; left: 54%; margin-top: 4%;}
.g1-i37{ left: 55%; width: 32%; margin-top: 10%;}
.g1-i17d{ margin-top: 16%; left: 48%;}
.g1-i38{ width: 37.5%; margin-top: 16%;left: 59%;}
.g1-i39{ width: 40%; margin-top: 44.5%; left: 46%;}
.g1-i18e{ left: 86%; margin-top: 44%;}
.g1-i40{ margin-top: 60%; left: 56%; width: 23%;}
.g1-i41{ margin-top: 66%; left: 46%; width: 39.5%;}
.g1-i18f{ left: 86%; margin-top: 65%;}
.g1-i17e{ margin-top: 79%;}
.g1-i42{ margin-top: 79%; left: 12%; width: 78%;}
.g1-i43{ left: 2%; margin-top: 5%; width: 41%;}
.g1-i44{ right: 1%; margin-top: 3.5%; width: 46%;}
.g1-i45{ left: 6%; margin-top: 20%; width: 34%;}
.g1-i48{ left: 2%; margin-top: 3.5%; width: 48%;}
.g1-i49{left: 11%;margin-top: 10%; width: 26%;}
.g1-i18g{ left: 42%;margin-top: 19%; }
.g1-i17f{margin-top: 39%; }
.g1-i46{ width: 38%;margin-top: 39%;left: 12%; }
.g1-i47{ width: 34%;margin-top: 60%;left: 6%;}
.g1-i18h{margin-top: 60%;left: 42%;}
.g1-i54{ width: 49%; left: 49%; margin-top: 5%;}
.g1-i55{ width: 26%; left: 60%; margin-top: 12%;}
.g1-i51{ width: 34%; left: 53%; margin-top: 25%;}
.g1-i18i{left: 88%; margin-top: 24%;}
.g1-i17h{ margin-top: 47%; left: 49%;}
.g1-i52{ width: 38%; left: 59%; margin-top: 47%;}
.g1-i53{ width: 32%; left: 55%; margin-top: 68%;}
.g1-i18j{left: 88%; margin-top: 67%;}
.g1-i50{ width: 46%; left: 2%; margin-top: 4%;}
.g1-i65{ width: 31%; margin-top: 3%; left: 8%;}
.g1-i63{ width: 32%; left: 3%; margin-top: 10%;}
.g1-i57{ width: 37%; left: 3%; margin-top: 24%;}
.g1-i18k{ margin-top: 23%; left: 42%;}
.g1-i17i{ margin-top: 50%;}
.g1-i58{ width: 35%; margin-top: 51%; left: 12%;}
.g1-i56{ width: 46%; left: 53%; margin-top: 5%;}
.g1-i64{ margin-top: 5%; left: 2%;width: 46%;}
.g1-i59{ width: 36%; left: 51%; margin-top: 8%;}
.g1-i60{ width: 36%; left: 52%; margin-top: 18%;}
.g1-i18l{ margin-top: 17%;left: 88%;}
.g1-i17j{ left: 49%; margin-top: 36%;}
.g1-i61{ width: 38%; margin-top: 37%; left: 59%;}
.g1-i62{ width: 24%; margin-top: 69%; left: 63%;}
.g1-i18m{ left: 88%; margin-top: 68%;}
.g1-i66{ width: 32%; margin-top: 5%; left: 4%;}
.g1-i17k{ margin-top: 16%;}
.g1-i67{ width: 38%; left: 12%; margin-top: 16%;}
.g1-i68{ width: 37%; left: 3%; margin-top: 43%;}
.g1-i18n{ margin-top: 42%; left: 40%;}
.g1-i17l{ margin-top: 62%;}
.g1-i69{ margin-top: 63%; width: 35%; left: 12%;}
.g1-i73{left: 52%; margin-top: 4%; width: 46%;}
.g1-i17m{ left: 12%; margin-top: 4%;}
.g1-i70{ width: 51%;left: 23%; margin-top: 4%;}
.g1-i71{ left: 43.5%; margin-top: 17%; width: 32%;}
.g1-i18o{ left: 76.5%; margin-top: 16%;}
.g1-i72{ left: 2.5%; margin-top: 32%; width: 95%;}
.g1-logo{ width: 29%; margin-top: 45.5%; left: 10%;}
.iMayCode{ width: 26%; left: 60%; margin-top: 47%;}


/*.g1-i01,.g1-i02,.g1-i03,.g1-g01,.g1-g11,.g1-i04,.g1-i04a,.g1-i06,.g1-i08,.g1-i15,.g1-i16,.g1-g02,.g1-i12,.g1-i13,.g1-i14,.g1-i18,.g1-i17,.g1-i17a,.g1-i19{ display: none;}*/
img{display: none;}
.tab-scroll{animation-duration:.3s;-webkit-animation-duration:.3s; -moz-animation-duration: .3s; -o-animation-duration: .3s;display: block;  }
.tab-scroll1{animation-duration:.3s;-webkit-animation-duration:.5s; -moz-animation-duration: .5s; -o-animation-duration: .5s;display: block;  }
.aniInTop{ animation-name: aniInTop;-webkitanimation-name: aniInTop; -moz-animation-name: aniInTop; -o-animation-name:aniInTop; }
.aniInBottom{ animation-name: aniInBottom;-webkitanimation-name: aniInBottom; -moz-animation-name: aniInBottom; -o-animation-name:aniInBottom; }
.aniInRight{ animation-name: aniInRight;-webkitanimation-name: aniInRight; -moz-animation-name: aniInRight; -o-animation-name:aniInRight; }
.aniInRight1{ animation-name: aniInRight1;-webkitanimation-name: aniInRight1; -moz-animation-name: aniInRight1; -o-animation-name:aniInRight1; }
.aniInRight2{ animation-name: aniInRight2;-webkitanimation-name: aniInRight2; -moz-animation-name: aniInRight2; -o-animation-name:aniInRight2; }
.aniInRight3{ animation-name: aniInRight3;-webkitanimation-name: aniInRight3; -moz-animation-name: aniInRight3; -o-animation-name:aniInRight3; }
.aniInRight4{ animation-name: aniInRight4;-webkitanimation-name: aniInRight4; -moz-animation-name: aniInRight4; -o-animation-name:aniInRight4; }
.enlarge{ animation-name: enlarge;-webkitanimation-name: enlarge; -moz-animation-name: enlarge; -o-animation-name:enlarge; }
.enlarge1{ animation-name: enlarge1;-webkitanimation-name: enlarge1; -moz-animation-name: enlarge1; -o-animation-name:enlarge1; }
.twinkling{display: block; animation: twinkling 1s infinite normal;-moz-animation: twinkling 1s infinite normal ;-webkit-animation: twinkling 1s infinite normal ;-o-animation: twinkling 1s infinite normal;}
.aniShow{ animation-name: aniShow;-webkitanimation-name: aniShow; -moz-animation-name: aniShow; -o-animation-name:aniShow; }
.aniInLeft{ animation-name: aniInLeft;-webkitanimation-name: aniInLeft; -moz-animation-name: aniInLeft; -o-animation-name:aniInLeft; }
.aniInLeft1{ animation-name: aniInLeft1;-webkitanimation-name: aniInLeft1; -moz-animation-name: aniInLeft1; -o-animation-name:aniInLeft1; }
.aniInLeft2{ animation-name: aniInLeft2;-webkitanimation-name: aniInLeft2; -moz-animation-name: aniInLeft2; -o-animation-name:aniInLeft2; }
@keyframes aniInTop {
    0% {transform: translate3d(0px, -50px, 0px);  }
    100% { transform: translate3d(0px, 5px, 0px);}
}
@keyframes enlarge {
    0% { opacity: 0; width: 0; left: 73%; margin-top: 56%;  transform:scale(0,0); }
    100% {  opacity: 1; width: 26%; transform:scale(1,1);}
}
@keyframes enlarge1 {
    0% { opacity: 0; width: 0; left: 30%; margin-top: 62%; transform:scale(0,0); }
    100% {  opacity: 1; width: 29%; transform:scale(1,1);}
}
@keyframes aniInBottom {
    0% { opacity: 0;  transform: translate3d(0px, 50px, 0px);  }
    100% {  opacity: 1;  transform: none;}
}
@keyframes aniInRight {
    0% { opacity: 0;  transform: translate3d(100px, 0px, 0px);  }
    100% {  opacity: 1;  transform: none; left: 51%;}
}
@keyframes aniInRight1 {
    0% { transform: translate3d(30px, 0px, 0px);  }
    100% {  transform: none; left: 87.7%;}
}
@keyframes aniInRight2 {
    0% { transform: translate3d(10px, 0px, 0px);  }
    100% {  transform: none; left: 41.7%;}
}
@keyframes aniInRight3 {
    0% { transform: translate3d(10px, 0px, 0px);  }
    100% {  transform: none; }
}
@keyframes aniInRight4 {
    0% { transform: translate3d(10px, 0px, 0px);  }
    100% {  transform: none; left: 76%;}
}
@keyframes aniInLeft {
    0% { opacity: 0;  transform: translate3d(-30px, 0px, 0px);  }
    100% {  opacity: 1;  transform: none; left: 1.8%}
}
@keyframes aniInLeft1 {
    0% { opacity: 0;  transform: translate3d(-10px, 0px, 0px);  }
    100% {  opacity: 1;  transform: none; left: 48.3%}
}
@keyframes aniInLeft2 {
    0% { opacity: 0;  transform: translate3d(-30px, 0px, 0px);  }
    100% {  opacity: 1;  transform: none; left: 12.5%}
}
@keyframes aniShow {
    0% { opacity: 0; transform: none;}
    100% {  opacity: 1; transform: none;}
}
@keyframes twinkling {
    0% { opacity: 1;}
    100% {  margin-top: -1%;}
}
@media screen and (min-width: 320px) and (max-width: 400px){
    .g1-info1-c{ height: 35%; top: 63%;}
}