@charset "utf-8";
/* CSS Document */
/*reset*/
*{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe{margin:0;padding:0;border:0; word-wrap: break-word; -webkit-text-size-adjust:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial;font-family:\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
input,select,textarea{font-size:100%; vertical-align:middle; border:0;background:none;box-shadow:none; -moz-appearance:none; appearance:none; outline:none; -webkit-outline:none;-webkit-appearance:searchfield;-webkit-rtl-ordering:logical;-webkit-user-select:text;-webkit-appearance:none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
input:focus,textarea:focus{outline:none}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
img{border:0 none; padding: 0; margin: 0;width: 100%; }
img, object {max-width: 100%;}
em,i,code,cite,address,th{font-style:normal;font-weight:500}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
q:before,q:after{ content:''}
abbr,acronym{ border:0}
a{text-decoration:none;-webkit-user-select:none;}
.none{ display:none;}
.hr_10{clear:both;height:10px;line-height:1px;font-size:1px}
.hr_5{clear:both;height:5px;line-height:1px;font-size:1px}
.hr_1{clear:both;height:1px;line-height:1px;font-size:0}
.wb{clear:both; border:none; height:1px; line-height:1px; background:#FFF; font-size:0; overflow:hidden}
a:link,a:visited,a:hover,a:active{color:#999;text-shadow:none}
.w320{ width:320px; margin:0 auto; clear:both; position:relative;}
.w360{ width:360px; margin:0 auto; clear:both; position:relative;}
.w480{ width:480px; margin:0 auto; clear:both; position:relative;}
/*reset end*/
body{ background: url("../images/valentine/l-bg.jpg") no-repeat; background-size: cover;}
.l-i03{ width: 70%; margin: 4% 0 4% 14%;}
.l-i01{ width: 92%; margin: 0 4%;}
.l-bar{ position: relative;}
.l-pos{ position: absolute;}
.l-i07{ width: 94%;z-index: 1; top: 10%; left: 2%;}
.l-i-i01{ width: 16%; border-radius: 65%; top: 2%; left: 50%; margin-left: -7.5%;}
.l-l-txt{ font-size: 18px; top: 43.9%; left: 55%; width: 45%;}
.l-l-txt span{ display: inline-block;float: left; color: #fe7891;}
.l-l-txt span:first-child{ padding-right: 10%; }
.l-l-txt span b{ font-weight: normal;}
.l-y-txt{ top: 53%;}
.l-tit{ top: 25%;color: #fe7891; width:100%; text-align:center;font-size: 16px; }
.l-m-txt{ top: 72%; left: 40%; width: 60%;}
.l-mid{ margin-top: 3%; position: relative;}
.l-i02{ width: 92%; margin: 0 0 0 4%;}
.l-i08{ top: 11%; width: 100%; z-index: 2; left: -5%;}
.l-i04{ width: 55%; top: 10%; z-index: 3; left: 13%;}
.l-w-ul{ width: 90%; margin-left: 5%;}
.l-w-ul li{font-size: 14px; position: relative;}
.l-w-ul li:after{ content: ''; clear: both; display: block;}
.l-con{ top: 13%;}
.l-i06{ width: 9%;float: left;}
.l-i-i02{ float: left; width: 11%; border-radius: 45%; margin-left: 1%}
.l-i05-a{ width: 22%; display: block; float: left; margin: 2% 2% 0 0;}
.l-i05{ width: 100%;}
.l-w-txt,.l-em-txt{ float: left; display: block;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: 3.5%; text-align: center; color: #6f6f6f;}
.l-w-txt{width: 28%; margin-left: 2%;}
.l-em-txt{ width: 25%; color: #fe7891;}
.l-ul-t{ position: absolute; z-index: 5; top: 12%; left: 0; width: 100%;}
.l-i09{ width: 100%; }
.l-num{ width: 9%; position: absolute; left: 0; text-align: center; margin-top: 2%; color: #FFF;}
.l-w-ul li:first-child .l-num,.l-w-ul li:nth-child(2) .l-num,.l-w-ul li:nth-child(3) .l-num{ display: none;}
.l-i10{ width: 91%; top: -2px; left: 5%; display: none;}
.l-tab-ul{z-index: 6; top: 0; left: 0;}
.l-tab-ul{ width: 92%; left: 4%; top: 0; height: 15%;}
.l-tab-ul li{ width: 50%; height: 50%; float: left; }
.l-c-w,.l-con,.l-bar-txt,.l-c-mes{ display: none;}
.l-c-mes{ text-align: center; color: #fe7891; bottom: 3%; width: 100%; }
.l-footer{ margin: 30px 0 15px 0; display: none;}
.l-footer span{ display: block; color: #fffefe; font-size: 14px; text-align: center;}
.l-con,.l-c-w{ width: 100%;}


.tab-scroll{animation-duration:1s;-webkit-animation-duration:1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; }
.tab-scroll1{animation-duration:15s;-webkit-animation-duration:15s; -moz-animation-duration: 15s; -o-animation-duration: 15s; }
.aniInTop{ animation-name: aniInTop;-webkitanimation-name: aniInTop; -moz-animation-name: aniInTop; -o-animation-name:aniInTop; }
.aniInTop1{ animation-name: aniInTop1;-webkitanimation-name: aniInTop1; -moz-animation-name: aniInTop1; -o-animation-name:aniInTop1; }
.pulsation{ animation-name: pulsation;-webkitanimation-name: pulsation; -moz-animation-name: pulsation; -o-animation-name:pulsation; }
.aniInLeft{ animation-name: aniInLeft;-webkitanimation-name: aniInLeft; -moz-animation-name: aniInLeft; -o-animation-name:aniInLeft; }
.aniShow{ animation-name: aniShow;-webkitanimation-name: aniShow; -moz-animation-name: aniShow; -o-animation-name:aniShow; }
.twinkling{ animation: twinkling 1s linear infinite normal;-moz-animation: twinkling 1s linear infinite normal;-webkit-animation: twinkling 1s linear infinite normal;-o-animation: twinkling 1s linear infinite normal;}
@keyframes aniInTop {
    0% { opacity: 0;  transform: translate3d(0px, -20px, 0px);  }
    100% { opacity: 1;  transform: none;}
}
@keyframes aniInLeft {
    0% {  opacity: 0;  transform: translate3d(-20px, 0px, 0px);  }
    100% { opacity: 1;  transform: none;  }
}
@keyframes aniInTop1 {
    0% { opacity: 0;  transform: translate3d(0px, -10px, 0px);  }
    100% { opacity: 1;  transform: none;}
}
@keyframes twinkling {
    0% { opacity: 1;transform: none; margin-top: .3%;  }
    100% { opacity: 1;transform: none;  }
}
@keyframes aniShow {
    0% { opacity: 0; transform: none;}
    100% {  opacity: 1; transform: none;}
}
