<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>确认订单信息-会员中心 - Powered by iMay,Inc.</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/nanoscroller.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
<!-- <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'> -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/order.css"/>
<script src="__PUBLIC__/js/jquery.js"></script>
<!--[if lt IE 9]>
<script src="__PUBLIC__/js/html5shiv.js"></script>
<script src="__PUBLIC__/js/respond.min.js"></script>
<![endif]-->
{block name="style"}{/block}

</head>
<body>
<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="logo">
				<a href="{:url('index/book/index')}"><img src="__PUBLIC__/images/logo.png" alt="确认订单信息-会员中心"></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col-xs-12">
			<div class="progress">
				<div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 25%">
					<span>1、购物车</span>
				</div>
				<div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 25%">
					<span>2、确认订单信息</span>
				</div>
				<div class="progress-bar progress-bar-success progress-bar-striped" style="width: 25%">
					<span>3、选择支付</span>
				</div>
				<div class="progress-bar progress-bar-primary progress-bar-striped" style="width: 25%">
					<span>4、订购完成</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p class="no-data"><span class="red"><i class="fa fa-edit"></i></span> 订单已成功提交！</p>
			<form action="{:url('user/order/pay')}" method="post" class="form">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td width="200" class="text-right">订单编号：</td>
							<td>{$info['order_no']}</td>
						</tr>
						<tr>
							<td width="200" class="text-right">订单金额：</td>
							<td>￥{$info['price_count']}</td>
						</tr>
						<tr>
							<td width="200" class="text-right">支付方式：</td>
							<td>{$info['pay_type_text']}</td>
						</tr>
					</tbody>
				</table>


				<div class="pull-right">
					<input type="hidden" name="order_id" value="{$info['id']}">
					<input type="hidden" name="pay_type" value="{$info['pay_type']}">
					<button class="btn btn-danger">立即支付</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="footer">
	<div class="warp">
		<p>Copyright © 2015-2016　<a href="http://www.imay.com" target="_blank">暧魅网络</a> 版权所有</p>
	</div>
</div>
</body>
</html>