<footer>
    <div id="g-footer">
        <div class="g-f-txt">
            <a href="{:url('/about/serviceprivacy')}">隐私政策</a><span>|</span>
            <a href="{:url('/about/privacypolicy')}">服务条款</a><span>|</span>
            <a href="{:url('/about/connect')}">联系我们</a>
        </div>
        <div class="g-txt-f">Copyright © 2015-2017 广州暧魅网络科技有限公司</div>
        <div class="g-txt-f">版权所有 <a href="http://www.miitbeian.gov.cn/">粤ICP备14054705号-1</a> 粤网文[2016]3788-881号</div>
        <div class="g-txt-f">广播电视节目制作经营许可证（粤）字第01949号</div>
        <div class="g-txt-f">意见建议：service@imay.com</div>
        <div class="g-txt-f"><a  class="imay-dec" style="width: 212px;" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010502000442" target="_blank"><img src="__PUBLIC__/images/ba.png"><span>粤公网安备 44010502000442号</span></a></div>
    </div>
</footer>