<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>玩咖直播 — 邀请测试</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="referrer" content="always">
	<link type="text/css" rel="stylesheet" href="__CSS__/i-m-index.css">
    <link rel="stylesheet" href="__BCSS__/bootstrap.min.css">
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__BJS__/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PJS__/plugins.js"></script>
    <style type="text/css">
        a:link,a:visited,a:active{color: #fff;text-decoration: none; outline:none;}
        a:hover{text-decoration: none;color: #fff}
        .y-d-t a{text-decoration: none;color: #fff}
    </style>
</head>
<body>
<article>
<section>
		<div class="i-y-di">
			<a style="width:80%;" class="i-d-sure" href="itms-services:///?action=download-manifest&url=https://apple.imay.com/vankaLive1.plist">IOS版下载地址 1</a>
		</div>
		<div>
			<a style="width:80%;" class="i-d-sure" href="itms-services:///?action=download-manifest&url=https://iosapp.imay.cn/vankaLive2.plist">IOS版下载地址 2</a>
		</div>
		<div>
			<a style="width:80%;" class="i-d-sure" href="http://static.imay.com/download/vanka_20170703_release.apk">安卓版下载地址</a>
		</div>
</section>
	<section>
<!--	<div class="i-d-con">
			ios
			<div class="i-d-n">

			</div>
			<a style="width:80%;" class="i-d-sure" href="http://static.imay.com/download/vanka_20170703_release.apk">安卓版下载地址</a>
			<div class="i-d-n i-d-n1">

			</div>
		</div> --> 
        <div style="height: 25px; text-align: center; padding-top: 60px;">
            <span class="tip_content"></span>
        </div>
	</section>
</article>
<script type="text/javascript">
	$(function(){
	});
</script>

</body>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>

{include file="statistics/baiduStatistcs"}

</html>

