<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <link type="text/css" rel="stylesheet" href="__PC_CSS__/common.css">
    <link type="text/css" rel="stylesheet" href="__PC_CSS__/default.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>
<!--头部信息-->
{include file="../../common/view/default/header" /}
<div class="g-wrap">
    <div class="g-con">
        <a class="g-h3-ic"></a>
        <h3 class="g-h3-bg">兑换收益</h3>
        <div class="g-c-log">
            <div class="pay-con">
                <div class="ex-earn-t">
                    <div class="pay-txt pay-txt-g ex-earn-mes">
                        <b class="pay-s-icon"></b>
                        申请已提交！
                    </div>
                    <div class="ex-earn-txt">
                        工作人员需三个工作日完成提现审核工作，请您耐心等待~
                    </div>
                    <div class="pay-t-but pay-but-a">
                        <a class="imay-rc" href="{:url('user/withdraw/index')}">返回</a>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>
<!--底部信息-->
{include file="../../common/view/default/footer" /}
<!--登录、注册、忘记密码-->
{include file="../../common/view/default/login" /}
<script type="text/javascript" src="__PUBLIC__/pc/js/g-index.js"></script>
</body>
</html>