<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
	<title>{$Page['title']}</title>
	<link rel="stylesheet" href="__PC_CSS__/common.css">
	<link rel="stylesheet" href="__CSS__/agree.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>
<header>
	<div class="iMay-header">
		<div class="header-bar">
			<a href="http://www.imay.cn" class="logo"></a>
		</div>
	</div>
</header>
<article>
	<div class="iMay-con">
		<div class="page-1190 imay_server">
			<h3>{$Page['title']}</h3>
			<div class="server_text">
				{$Page['content']}
			</div>
		</div>
	</div>
</article>
{include file="../../common/view/default/footer" /}
</body>
</html>