<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>小魅有药活动说明</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="__CSS__/medicine.css">
</head>
<body>
<img src="__IMG__/instruction/v1.jpg" class="v1">
</body>
</html>