{extend name="public/base" /}
{block name="body"}
<div class="row">
	<div class="col-lg-6 col-sm-6 col-xs-12">
		<div class="main-box infographic-box colored bg-primary"> <i class="fa fa-shopping-bag"></i>
			<span class="headline">订单总数</span>
			<span class="value">0</span>
		</div>
	</div>
	<div class="col-lg-6 col-sm-6 col-xs-12">
		<div class="main-box infographic-box colored bg-primary"> <i class="fa fa-money"></i>
			<span class="headline">我的消费</span>
			<span class="value">0</span>
		</div>
	</div>
</div>

{/block}