<!DOCTYPE html>
<html lang="zh_CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- core CSS -->
<link rel="stylesheet" href="__BCSS__/bootstrap.min.css">

<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__BJS__/bootstrap.min.js"></script>
<!--[if lt IE 9]>
<![endif]-->
{block name="style"}{/block}
</head>
<!--/head-->
<body>

	<!--/header-->
	{block name="body"}{/block}

	{block name="script"}{/block}
</body>
</html>