
<footer>
    <div class="i-footer">
        <div class="i-top-txt i-footer-top">
            <a class="i-txt-a" href="{:url('/about/service')}">隐私政策</a>
            <span>|</span>
            <a class="i-txt-a" href="{:url('/about/privacy')}">服务条款</a>
            <span>|</span>
            <a class="i-txt-a" href="{:url('/about/connect')}">联系我们</a>
        </div>
        <div class="i-bot-txt">Copyright © 2015-2016 Www.Imay.Cn.  版权所有 <a href="http://www.miitbeian.gov.cn/">粤备14006474号</a>   粤网文[2016]3788-881号  意见建议：service@imaycom</div>
    </div>
</footer>
<!--/#footer-->